<!DOCTYPE html>
<html>

<head>
  <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/materialize/1.0.0/css/materialize.min.css">
  <link href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet">
  <link rel="stylesheet" href="css/style.css">
  <title>PPP</title>
</head>

<body>

  
    <ul id="v-for-rounds" class="pagination">
        <li class="disabled"><a href="#!"><i class="material-icons">chevron_left</i></a></li>

        <li v-for="value in object" class="waves-effect" v-on:click="switchRound(value)"><a>{{ value }}</a></li>

        <li class="waves-effect"><a href="#!"><i class="material-icons">chevron_right</i></a></li>
      </ul>
             

  <ul id="v-for-fixtures" class="collection">
    <li v-for="value in object" class="collection-item">
      <p>{{ value.eventDate }}</p>

      <div class="fixture-container">

        <div class="fixture-home-container">
          <img v-bind:src="value.homeTeamLogo">
          <span class="title">{{ value.homeTeamName }}</span>
        </div>

        <span class="title"> vs </span>

        <div class="fixture-away-container">
          <span class="title">{{ value.awayTeamName }}</span>
          <img v-bind:src="value.awayTeamLogo">
        </div>

      </div>

    </li>
  </ul>

  <script src="https://cdnjs.cloudflare.com/ajax/libs/materialize/1.0.0/js/materialize.min.js"></script>
  <script src="js/vue.min.js"></script>
  <script src="js/background.js"></script>
</body>

</html>